$primaryColor: #f4f4fd;
$secondaryColor: #1b1b1b;

.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 30px 0 30px;
    font-size: 13px;
    background-color: $secondaryColor;
    color: $primaryColor;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;



    &:hover {
        background-color: $primaryColor;
        color: $secondaryColor;
        border: 1px solid $secondaryColor;
    }

    &.inverted {
        background-color: $primaryColor;
        color: $secondaryColor;
        border: 1px solid $secondaryColor;
        display: flex;
        align-items: baseline;

        img {
            display: none;
            opacity: 0;
        }

        &:hover {
            background-color: $secondaryColor;
            color: $primaryColor;
            border: 1px solid $primaryColor;

            img {
                display: block;
                opacity: 1;
            }
        }
    }
}