.portfolio {
    color: #f4f4fd;
    padding-top: 100px;
    // margin-bottom: 100px;

    .project-list {
        display: flex;
        flex-direction: column;
        // grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }

    .infos {
        margin-top: 50px;
        background-color: #f4f4fd;
        padding: 50px 0;
        text-align: center;

        .info-container {
            display: flex;
            flex-wrap: wrap;

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-bottom: 20px;

                img {
                    height: 50px;
                    margin-right: 10px;
                }

                span {
                    color: #020202;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .portfolio {
        .project-list {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }

        .infos {
            .info-container {

                .info {

                    img {
                        height: 30px;
                    }
                }
            }
        }
    }
}