.portfolio {
  color: #f4f4fd;
  // padding-top: 100px;

  .project-list {
    display: flex;
    flex-direction: column;
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 30px;
      }
    }
  }
}
