.project-preview {
  margin: 10px;
  max-width: 750px;
  position: relative;

  &:nth-child(even) {
    margin-left: auto;
  }


  .head {
    position: relative;

    &:hover .overlay {
      opacity: 1;
    }

    img {
      width: 100%;
      cursor: pointer;
    }

    .overlay {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      background: #02020291;
      transition: all .3s;

      img {
        margin: auto;
        width: 70px;
      }
    }
  }

  .bott {
    text-align: center;
    background-color: transparentize($color: #f4f4fd, $amount: .1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #020202;
    margin-top: -4px;
    padding: 15px;
    padding-bottom: 25px;
    position: absolute;
    // overflow: scroll;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;

    span {
      font-size: 9px;
      border: 1px solid #020202;
      margin: 0 2px;
      padding: 4px 8px;
      text-transform: capitalize;
      display: inline-block;
    }

    .button {
      a {
        margin: 10px;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
}