$tablet: 850px;
$smartphone: 500px;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.service {
  color: #f4f4fd;
  padding-top: 50px;
  min-height: 400px;

  .section-content {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #006eff;
    padding: 20px;
    @include smartphone() {
      padding: 0;
      flex-wrap: wrap;
    }

    .box {
      text-align: center;
      padding: 20px;
      color: #020202;
      width: 280px;
      &:nth-child(2) {
        border-left: 1px solid #f4f4fd;
        border-right: 1px solid #f4f4fd;
        @include smartphone() {
          width: auto;
          border: none;
        }
      }
      img {
        width: 50px;
        margin-bottom: 10px;
        padding: 15px 20px;
      }

      h4 {
        margin-bottom: 10px;
        color: #f4f4fd;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        font-family: 'Lato', sans-serif;
        color: lighten($color: #f4f4fd, $amount: 10);
      }
    }
  }
}
