$smallScreen : 800px;

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    .clipy {
        width: 70vh;
        height: 70vh;
        position: absolute;
        z-index: 0;
        bottom: 0px;
        right: -100px;
        transform: rotate(-15deg);
        transition: all 1s;
    }

    .posis {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        background-color: #0202028f;
    }


    .content {

        .intro {
            color: #f4f4fd;
            font-size: 35px;
            font-weight: 100;

            .name {
                background: -webkit-linear-gradient(#111cf6, #1d30d1, #2e39ab, #393d84, #3f3f5c);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        }

        p {
            margin-bottom: 25px;
        }
    }
}


@media screen and (max-width: $smallScreen) {
    .hero {

        .clipy {
            width: 30vh;
            height: 30vh;
        }

        .content {

            .intro {
                color: #f4f4fd;
                font-size: 20px;
                font-weight: 100;
            }
        }
    }
}

// #99b898 #2a363b