$smartphone-width: 600px;
$smallScreen: 800px;
$primaryColor: #f4f4fd;
$secondaryColor: #1b1b1b;


@mixin smartphone {
    @media (max-width: #{$smartphone-width}) {
        @content;
    }
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: transparent;

    .clipy {
        width: 70vh;
        height: 70vh;
        position: absolute;
        z-index: 0;
        bottom: -35px;
        right: -40px;
        transform: rotate(-15deg);
        transition: all 1s;
    }

    .posis {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 5;
        display: flex;
        align-items: center;
    }


    .content {

        .intro {
            color: $secondaryColor;
            font-size: 35px;
            font-weight: 100;
            background: $primaryColor;

            .name {
                background: linear-gradient(#006eff, #0f5abd, #164685, #003375, #37504f);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        }

        // @include smartphone() {
        //     .intro {
        //         font-size: 18px;
        //     }
        // }

        p {
            background: $primaryColor;
            margin-bottom: 25px;
            color: lighten($color: $secondaryColor, $amount: 10);
        }

        @include smartphone() {
            p {
                font-size: 17px;
            }
        }
    }
}


@media screen and (max-width: $smallScreen) {
    .hero {

        .clipy {
            width: 50vh;
            height: 50vh;
            bottom: 0px;
            right: -90px;
            transform: rotate(0deg);
        }

        .content {

            .intro {
                color: $secondaryColor;
                font-size: 30px;
                font-weight: 100;
            }
        }
    }
}