$smallScreen : 800px;
$primaryColor: #f4f4fd;
$secondaryColor: #1b1b1b;

.about {
    color: #f4f4fd;
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // grid-gap: 50px;
    padding-top: 50px;

    .about-title {
        font-size: 26px;
        display: inline-block;
        background: linear-gradient(#006eff, #0f5abd, #164685, #003375, #37504f);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
    }

    .about-text {

        p {
            margin-bottom: 30px;
        }

        img {
            margin-left: 10px;
            height: 20px;
        }

    }

    .stack {

        .flex-item {
            display: flex;
            flex-wrap: wrap;
        }

        .res {
            padding: 10px 0;
            margin: 10px;

            ul {
                padding-left: 30px;

                li {
                    padding: 5px 0 5px;
                    background: linear-gradient(#006eff, #0f5abd, #164685, #003375, #37504f);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }


    }

}

@media screen and (max-width: 600px) {
    .about {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

}