$tablet: 850px;
$smartphone: 500px;
$sub-color: #f4f4fd;
$main-color: #f4f4fd;
$smallScreen: 800px;
$primaryColor: #f4f4fd;
$secondaryColor: #1b1b1b;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.contact-section {
  color: #f4f4fd;
  margin: 0;
  width: 100%;
  .info {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #006eff;
    padding: 40px;

    li {
      list-style: none;
      padding: 10px 0;
      padding: 20px;
      width: 280px;
      font-size: 16px;
      font-weight: 300;
      a {
        font-size: 16px;
      }
      &:nth-child(2) {
        border-left: 1px solid #f4f4fd;
        @include smartphone() {
          width: auto;
          border: none;
        }
      }
    }

    .key-title {
      font-size: large;
      text-transform: uppercase;
    }

    .val {
      color: #f4f4fdaf;
    }
  }
}
