.skill {
    margin-bottom: 20px;

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 8px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        // border-radius: 30px;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 90%;
        height: 8px;
        // border-radius: 0 20px 20px 0;
        background-image: linear-gradient(to right top, #111cf6, #1d30d1, #2e39ab, #393d84, #3f3f5c);
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
}