$smartphone-width: 600px;
$primaryColor: #f4f4fd;
$secondaryColor: #1b1b1b;
$bgImage: radial-gradient($primaryColor 1px, transparent 4px),
radial-gradient(#006eff 4px, transparent 4px),
linear-gradient($primaryColor 5px, transparent 0),
linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
$primaryColor;
$bgSize: 109px 109px,
109px 109px,
109% 109px,
109px 109px,
109px 109px;


@mixin smartphone {
    @media (max-width: #{$smartphone-width}) {
        @content;
    }
}


.footer {
    background: $bgImage;
    background-size: $bgSize;
    padding: 20px 0 30px 0;
    text-align: center;
    color: $secondaryColor;

    @include smartphone() {
        .footer {
            img {
                width: 70px;
            }
        }
    }

    h4 {
        display: inline-block;
        background: $primaryColor;
    }

    img {
        width: 60px;
    }

    a {
        background: $primaryColor;
    }

    .logo-border {
        padding: 10px;
        border: 2px solid $secondaryColor;
        border-radius: 50%;
        margin: 10px;
        width: 20px;
        height: 20px;

        &:hover {
            background: white
        }

        img {
            width: 20px;

        }
    }

    @include smartphone() {
        .logo-border {
            width: 10px;
            height: 10px;
            display: flex;

            img {
                margin: auto;
                width: 12px;
            }
        }
    }


    p {
        color: $secondaryColor;
        background: $primaryColor;
        display: inline-block;

        a {
            color: #006eff;
        }
    }
}